.level-1 {
  h1 { font-size: 1.25rem !important; }
  h2 { font-size: 1.125rem !important; }
  h3, p { font-size: 1rem !important; }
}

.level-2 {
  h1 { font-size: 1.7rem !important; }
  h2 { font-size: 1.4rem !important; }
  h3, p { font-size: 1.2rem !important; }
}

.level-3 {
  h1 { font-size: 2rem !important; }
  h2 { font-size: 1.75rem !important; }
  h3, p { font-size: 1.5rem !important; }
}
